img {
    width: 300px;
}

.fact {
    font-style: italic;
padding: 2em;
}

.label {
    font-weight: bold;        
}

ul {
list-style-type: none;
}

.info {
    border:  3px solid gray;
    width: 500px;
}

body {
    width: 600px;
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin: 3em;
}

.text {
    border: 3px solid gray;
    padding: 1em;
}

.image {
    padding: 1em;
    margin: 3em;
}

.title {
    padding-top: 30px;
    padding-left: 30px;
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}